<table class="picture col-12">
  {{#each (range 0 10) as |row|}}
    <tr>
      {{#each (range 0 10) as |cell|}}
        <td class="border border-danger w-10 bg-warning"></td>
        {{/each}}
    </tr>
  {{/each}}

</table>
