<div class="container">
  <LinkTo @route="admin.categories" class="btn btn-primary my-3">Categories</LinkTo>
  <LinkTo @route="admin.products" class="btn btn-primary my-3">Products</LinkTo>
</div>
{{outlet}}
