<div class="d-flex justify-content-center flex-column align-items-center justify-content-between my-4">
<h2>Fizzbuzz</h2>
<p class="text-center">For multiples of 3 <span class="text-danger">Fizz,</span><br> for multiples of 5 <span class="text-success">Buzz,</span><br>
for numbers that are multiples of 3 &amp; 5 use <span class="text-info">Fizzbuzz.</span></p>
<button type="button" class="btn btn-secondary">Reset</button>
</div>
