<div class="container mt-2">
  <LinkTo class="btn btn-warning text-white" @route="painting-game.design">Design</LinkTo>
  <LinkTo class="btn btn-warning text-white" @route="painting-game.play">Play</LinkTo>
</div>
<div class="mt-2">
  {{outlet}}
</div>
